// 设计参考了：https://dribbble.com/shots/2776966-iOS-Smart-City-App/attachments/566666

$header-bar-height: 50px;

$theme-color: #41C4FE;

$unread-message-color: #F86339;
$card-hover-color: #F7FBFF;

@mixin list_item_icon {
  position: absolute;
  top: 0; left: 0;
  height: 80px;
  width: 60px;
  line-height: 80px;
  background-color: $theme-color;
  color: rgba(white, 0.8);
  // font-weight: bold;
  font-size: 24px;
}

@mixin list_item {
  padding: 15px;
  margin-bottom: 14px;
  position: relative;
  display: block;
  color: #444;
  height: 80px;

  &:hover {
    background-color: $card-hover-color;
  }

  .ct {
    margin-left: 60px;

    .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .desc {
      font-size: 13px;
      color: #888;
    }
  }

  i.icc {
    @include list_item_icon;
  }
}

@mixin pill_button {
  border: solid 2px #eee;
  border-radius: 100px;
  height: 32px; line-height: 28px;
  padding: 0 10px;
  margin-right: 10px;
  background-color: #FFF;
  transition: all 0.3s ease;
}

@mixin pill_color_button($color) {
  @include pill_button;

  border: 0 none;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;

  color: white;
  background-color: $color;

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin subject_header {
  position: relative;
  margin-bottom: 28px;

  .title {
    padding: 15px;
    font-weight: bold;
  }
  .time {
    position: absolute;
    font-size: 13px;
    color: #999;
    top: 15px;right: 15px;
    line-height: 21px;
  }
  .image {
    height: 150px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 15px;
  }
  .desc {
    padding: 15px;
    padding-top: 0;
  }
  .stat {
    border-top: solid 1px #F4F6F7;
    padding: 10px 15px;
    overflow: hidden;
    background-color: $card-hover-color;
    .s {
      float: right;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 12px;
      color: #888;
      &.s1 i {color: #888;}
      &.s2 i {color: #888;}
    }
  }
}

@mixin score {
  .learned {margin-top: 10px;
    i {color: #40C2FC;}
  }
  .exp {margin-top: 5px;
    i {color: #FFC076;}
  }
}

.mobile-learning-center {
  position: absolute;
  top:0;left:0;bottom:0;right:0;
  background-color: #EEF6FC;
  font-size: 14px;
  color: #444;

  &:before {
    content: "";
    position: absolute;
    top:-400px;left:0;right:0;height:510px;
    background-color: $theme-color;
    transform: skew(0, -10deg);
    pointer-events: none;
  }

  
  .header-bar {
    position: absolute;
    top:0;left:0;right:0;
    height:$header-bar-height;line-height:$header-bar-height;
    font-size: 16px;
    color: white;

    .title {
      text-align: center;
      font-weight: bold;
    }
  }

  $footer-height: 46px;
  .foot-menu {
    position: absolute;
    left:0;right:0;bottom:0;
    height:$footer-height;border-top: solid 1px #EDF1F6;
    background-color: #FFF;

    .link-me {
      position: absolute;
      // background-color: #53E69D;
      background-color: $theme-color;
      border-radius: 1000px;
      width:64px;
      height:64px;
      top:0;left:0;right:0;bottom:0;
      margin:auto;
      color:white;
      text-align: center;
      i {font-size: 28px;display: block;line-height:55px;}
      span {font-size: 12px;display: block;line-height:20px;display:none;}
    }

    .link {
      height: 45px;
      position: absolute;
      width: 75px;
      color: #888;
      text-align: center;
      i {font-size: 20px;display:block;line-height:45px;font-weight: bold;}
      span {font-size: 12px;display:block;line-height:12px;display:none;}

      &.l1 {
        left: 0;
      }
      &.l2 {
        left: 75px;
      }
      &.l3 {
        right: 75px;
      }
      &.l4 {
        right: 0;
      }

      &.active {
        background-color: #EEF6FC;
        // background-color: #D3F2FF;
        color: #60C3EE;
        margin-top: -1px;
        padding-top: 1px;
      }

      .new-count {
        background-color: $unread-message-color;
        width: 20px; height: 20px;
        line-height: 18px;
        border:solid 1px white;
        border-radius: 100%;
        position: absolute;
        top:8px;right:15px;
        color: white;
        pointer-events: none;
        font-size: 12px;
        text-align: center;
      }
      &.active .new-count {
        top: 9px;
      }
    }
  }

  .mobile-content {
    position: absolute;
    top: $header-bar-height;
    bottom: $footer-height;
    left: 0;
    right: 0;
    padding: 14px;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {  
      width: 5px;  
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: rgba(white, 0.5);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(black, 0.5); 
    }
  }
}

.mobile-learning-center.secondary, .mobile-learning-center.chat {
  &:before {
    content: "";
    position: absolute;
    top:-400px;left:0;right:0;height:510px;
    // background-color: #41A1FE;
    transform: skew(0, 10deg);
    pointer-events: none;
  }

  .header-bar {
    .back-to {
      position: absolute;
      color: white;
      height: $header-bar-height;
      width: $header-bar-height;
      line-height: $header-bar-height;
      text-align: center;
      top: 0; left: 0;
      &:hover {
        background-color: rgba(white, 0.1);
      }
    }
  }

  .mobile-content {
    bottom: 0;
  }

  .sendbox {
    position: absolute;
    left:0; right: 0; bottom: 0;
    height: 50px;
    background-color: white;
    box-shadow: 0 -5px 15px rgba(black, 0.2);

    input {
      position: absolute;
      top:0;left:0;border:0 none;
      height: 50px;
      line-height: 22px;
      padding: 14px;
      width:calc(100% - 50px);
      outline:none;
    }
    i.send {
      font-weight: bold;
      position: absolute;
      top:0;right:0;width:50px;height:50px;line-height:50px;
      text-align: center;
      font-size: 25px;
      &:hover {
        background-color: $card-hover-color;
      }
    }
  }
}

.mobile-learning-center.chat {
  &:before {
    display: none;
  }
  .header-bar {
    background-color: $theme-color;
  }
  .mobile-content {
    bottom: 50px;
  }
}

.mobile-learning-center .shadow-card {
  background-color: #FFF;
  box-shadow: 0 5px 15px rgba(black, 0.05);
}

.mobile-learning-center .user-card {
  background-color: #FFF;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;

  .detail {
    position: absolute;
    top:0;left:0;right:0;height:150px;

    .avatar {
      // background: url("http://i.teamkn.com/i/xVDQPKZL.png?imageMogr2/thumbnail/!240x240") no-repeat;
      background: url("http://i.teamkn.com/i/M4mUaDaT.png?imageMogr2/thumbnail/!240x240") no-repeat;
      background-position: center center;
      background-size: cover;
      width: 120px;
      height: 120px;
      position: absolute;
      top:15px;left:15px;
      border-radius: 5px;
    }

    .info {
      position: absolute;
      left: 150px;top:0;right:0;bottom:0;
      padding: 15px;
      padding-left: 0;

      .base {
        height: 60px;
        border-bottom: solid 1px #F1F5F8;
        .name {font-size: 16px;margin-bottom:5px;}
        .level {color: #999; font-size: 13px;}
      }
      .score {
        @include score;
      }
    }
  }

  .show-stat {
    height: 50px;
    border-top: solid 1px #F4F6F7;
    line-height: 50px;
    background-color: #F7FBFF;
    position: absolute;
    left:0;right:0;bottom:0;
    color: #3BB5EA;
    text-align: center;
    display: block;
  }
}

.mobile-learning-center .custom-center-page {
  min-height: 50px;
  background-color: #FFF;
  padding: 15px;
  text-align: center;
}

.mobile-learning-center .messages-list {
  .unread {
    height: 40px; line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: lighten($unread-message-color, 15%);
    span.number {
      color: white;
      background-color: $unread-message-color;
      border-radius: 100px;
      padding:0 8px;
      margin-left: 8px;
      position: relative;
      top: -1px;
    }
  }
  .list {
    .item {
      border-bottom: solid 1px #F6F6F6;
      &:hover {
        background-color: $card-hover-color;
      }

      &:last-child {
        border-bottom: 0 none;
      }

      position: relative;

      .ct {
        position: relative;
        padding: 15px;
        cursor: pointer;

        .title {
          font-weight: bold;
          margin-bottom: 10px;
        }
        .desc {
          font-size: 13px; color: #777;
        }
        .time {
          position: absolute;
          top: 15px; right: 15px;
          color: #aaa;
          font-size: 13px;
        }
      }

      .ops {
        opacity: 0;
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
        overflow: hidden;
        padding: 0 15px 0;

        .op {
          float: left;
          @include pill_button;

          &.add {
            color: $theme-color;
            border-color: $theme-color;
            &:hover {
              color: white;
              background-color: $theme-color;
            }
          }
          &.later {
            color: darken(#FFC076, 20%);
            border-color: darken(#FFC076, 20%);
            &:hover {
              color: white;
              background-color: darken(#FFC076, 20%);
            }
          }
          &.ignore {
            color: #FF7676;
            border-color: #FF7676;
            &:hover {
              color: white;
              background-color: #FF7676;
            }
          }
        }
      }

      &.opened {
        .ops {
          opacity: 1;
          height: auto;
          padding: 0 15px 15px;
        }
      }
    }
  }
}

.mobile-learning-center .search-input {
  position: relative;
  margin-bottom: 42px;

  input {
    height: 50px; line-height: 50px;
    padding: 0 50px 0 15px;
    background-color: #FFF;
    border-radius: 4px;
    border: 0 none;
    width: 100%;

    box-shadow: 0 5px 10px rgba(black, 0.05);

    &:focus {
      border: 0 none;
      background-color: #ffffdc;
      outline: none;
    }
  }
  i {
    position: absolute;
    color: #D6DEE9;
    line-height: 50px;
    width: 50px;
    top:0;right:0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

.mobile-learning-center h3 {
  font-size: 14px;
  margin-bottom: 14px;
  line-height: 28px;
  padding-left: 10px;
}

.mobile-learning-center .way-card {
  @include list_item;
}

.mobile-learning-center .knet-header {
  @include subject_header;
}

.mobile-learning-center .knet-subjects {
  .subject {
    @include list_item;
  }
}

.mobile-learning-center .stack-breadcrumb {
  padding: 15px;
  margin-bottom: 14px;
  // border-bottom: solid 1px #f1f1f1;
  .ant-breadcrumb {
    font-size: 14px;
  }
}

.mobile-learning-center .subject-courses {
  .add-to-plan {
    overflow: hidden;
    margin-bottom: 14px;

    a {
      @include pill_color_button($theme-color);
      float: left;
    }
  }
  .demo-tip {
    padding: 15px;
    // background-color: #FFF7E6;
    background-color: #FFFDF7;
    color: #666;
    i {color: #FFAA00;margin-right: 6px;}
  }
}

.mobile-learning-center .my-post {
  @include subject_header;
  .me {
    overflow: hidden;
    border-bottom: solid 1px #f1f1f1;
    padding: 15px;
    position: relative;
    height: 80px;

    .avatar {
      // background: url("http://i.teamkn.com/i/xVDQPKZL.png?imageMogr2/thumbnail/!100x100") no-repeat;
      background: url("http://i.teamkn.com/i/M4mUaDaT.png?imageMogr2/thumbnail/!100x100") no-repeat;
      background-position: center center;
      background-size: cover;
      width: 60px;
      height: 60px;
      position: absolute;
      top:10px;left:10px;
      overflow: hidden;
      // border-radius: 100%;
      border-radius: 5px;
    }
    .ct {
      margin-left: 65px;
      .name {
        font-weight: bold;
        font-weight: 14px;
        margin-bottom: 10px;
      }
      .score {
        @include score;
        overflow: hidden;
        .learned, .exp {
          float: left;
          margin-top: 0;
          margin-right: 15px;
          font-size: 13px;
          color: #888;
        }
      }
    }
  }
}

.mobile-learning-center .show-all-post {
  margin-bottom: 28px;
  text-align: center;
  a {
    @include pill_color_button($theme-color);
    display: inline-block;
    i {margin-right: 10px;}
  }
}

.mobile-learning-center .subjects-tree {
  overflow-x: hidden;
  .subject {
    .info {
      @include list_item;

      padding: 10px 10px 10px 15px;
      margin-bottom: 14px;
      width: percentage(3/5);

      .title {margin-bottom: 0 !important;}

      $h: 60px;
      i.icc {
        height: $h; line-height: $h; 
        width: 40px;
        font-size: 20px;
      }
      height: $h;
      .ct {
        margin-left: 40px;
      }
    }
    .children {
      position: relative;
      left: percentage(1/5);

      .action {
        position: absolute;
        top:0;left:- 30px - 14px;
        width: 30px; height: 30px; 
        line-height: 30px;
        // line-height: 26px;
        // padding-top: 4px;
        text-align: center;
        // background-color: rgba($theme-color, 0.5);
        background-color: #97DDFD;
        color: white;
        // border-radius: 100px;
        border-radius: 3px;
      }

      .brief {
        color: #666;
        background-color: #FFF;
        height: 30px; line-height: 30px;
        margin-bottom: 14px;
        width: percentage(2/5);
        padding: 0 10px;
        font-size: 12px;
        background-color: $card-hover-color;
        display: none;
      }

      canvas {
        position: absolute;
        pointer-events: none;
      }

      &.collapse {
        canvas {display: none;}
        > .subjects {display: none;}
        .brief {display: block;}
      }
    }
  }
}

.mobile-learning-center .search-box {
  .search-bar {
    background-color: #fff;
    border-radius: 4px;
    min-height: 50px;
    padding: 10px 50px 0 10px;
    overflow: hidden;
    margin-bottom: 28px;
    position: relative;

    i.search {
      position: absolute;
      color: #D6DEE9;
      line-height: 50px;
      width: 50px;
      top:0;right:0;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    input {
      float: left;
      margin-bottom: 10px;
      border: 0 none;
      outline: none;
      height: 30px; line-height: 30px;
      padding: 0 5px;
    }

    .label {
      height: 30px; line-height: 30px;
      float: left; color: white;
      background-color: $theme-color;
      padding: 0 10px + 30px 0 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      overflow: hidden;
      position: relative;

      i.delete {
        position: absolute;
        top:0;right:0;bottom:0;width:30px;line-height:30px;
        background-color: rgba(black, 0.1);
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: rgba(black, 0.2);
        }
      }
    }
  }

  .recommend-words-list {
    overflow: hidden;
    margin-bottom: 14px;

    a.word {
      float: left;
      background-color: $theme-color;
      color: white;
      height: 30px; line-height: 30px;
      border-radius: 3px;
      padding: 0 12px 0 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      i {margin-right: 5px;}
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .questions-results-list {
    .item {
      padding: 15px;
      border-bottom: solid 1px #f1f1f1;
      display: block;
      color: #444;
      &:hover {
        background-color: $card-hover-color;
      }
      position: relative;

      i {
        position: absolute;
        top:0;left:0;bottom:0;width:40px;
        text-align: center;
        line-height: 51px;
        color: $theme-color;
        background-color: $card-hover-color;
      }
      .ct {
        margin-left: 40px;
      }
    }
  }

  .create-question-box {
    padding: 15px;

    .creating {
      textarea {
        display: block;
        background-color: #f1f1f1;
        width: 100%;
        border-radius: 3px;
        border:0 none;
        padding: 10px;
        resize: none;
        line-height: 22px;
        min-height: 44px + 20px;
        outline: none;
        margin-bottom: 15px;
      }
      a.save {
        @include pill_button;
        height: 34px; line-height: 30px;
        border-color: $theme-color;
        display: inline-block;
        color: white;
        background-color: $theme-color;
        padding: 0 14px;
      }
    }
  }
}

.mobile-learning-center .chatbox {

  .theme {
    // background-color: #fff;
    padding: 15px;

    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .desc {
      color: #666;
    }
  }

  .messages {
    .date {
      // margin-bottom: 14px;
      text-align: center;
      color: #888;
      font-weight: bold;
      position: relative;
      span {
        background-color: #EEF6FC;
        position: relative;
        padding: 0 15px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 9px; left:0; height: 1px; right: 0;
        background-color: #ddd;
      }
    }

    .message {
      $aw: 50px;
      overflow: hidden;
      padding: 14px;
      margin-left: -14px;
      margin-right: -14px;

      &:hover {
        background-color: rgba(black, 0.04);
      }

      .avatar {
        float: left;
        width: $aw; height: $aw;
        background-color: #123F68;
        border-radius: 5px;
        background-size: cover;
        background-position: center center;
      }
      .ct {
        margin-left: $aw + 14px;
        .who-when {
          margin-bottom: 6px;
          font-size: 13px;
          .name {
            font-weight: bold;
            margin-right: 10px;
          }
          .time {
            color: #999;
            font-family: Monaco,'Courier New',monospace;
          }
        }
        .text {
          background-color: #FFF;
          padding: 10px;
          border-radius: 4px;
          float: left;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            border:solid 6px transparent;
            border-right: solid 6px white;
            // border-top: solid 6px white;
            top:8px;left:-12px;
          }

          .attach {
            border-top: solid 1px #f1f1f1;
            margin-top: 10px;
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: -10px;
            padding: 10px;
            overflow: hidden;

            .point {
              @include list_item;
              float: left;
              min-width: 120px;
              height: 40px;
              padding: 0 15px;
              margin-bottom: 0;
              // box-shadow: 0 3px 1px rgba(black, 0.5);
              border: solid 1px #d1d1d1;
              box-sizing: content-box;
              pointer-events: none;
              i.icc {
                height: 42px;
                line-height: 42px;
                margin-top: -1px;
                margin-left: -1px;
                font-size: 20px;
              }
              .ct .title {
                margin-bottom: 0;
                line-height: 40px;
              }
            }
          }

        }
      }
    }
  }
}

.mobile-learning-center .message-boxes {
  .box {
    padding: 15px;
    margin-bottom: 14px;
    border-left: solid 5px $theme-color;
    display: block;
    color: #333;
    &:hover {
      background-color: $card-hover-color;
    }

    i.cicon {
      margin-right: 15px;
    }

    .new {
      float: right;
      background-color: #F86339;
      color: white;
      border-radius: 100px;
      padding: 0 10px;
      font-size: 12px;
    }
  }

  .box-list {
    margin-bottom: 28px;
  }
}