$sider-width: 180px;
$sider-bgc: #252C36;
.ant-layout-aside {
  .ant-layout-sider {
    width: $sider-width;
    background: $sider-bgc;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    transition: all 0.3s ease;

    > .ant-menu {
      background-color: transparent;

      > .ant-menu-item {
        margin: 0;
        color: rgba(white, 0.7);
        font-size: 13px;
        height: 50px; line-height: 50px;
        &:hover {
          background-color: rgba(white, 0.1);
          color: white;
        }

        .nav-text {
          vertical-align: baseline;
          display: inline-block;
        }

        > .action {
          transition: font-size .3s;
        }
      }

      > .ant-menu-item-selected {
        color: white;
        position: relative;
        &:after {
          position: absolute;
          content: "";
          top:0;right:0;bottom:0;width:3px;
          background-color: rgba(white, 0.5);
        }
        &:hover {
          background-color: #2db7f5;
        }
      }
    }
  }

  .ant-aside-action {
    height: 40px;
    line-height: 40px;
    width: $sider-width;
    position: absolute;
    bottom: 0;
    background: rgba(white, 0.1);
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .ant-layout-main {
    transition: all 0.3s ease;
    position: fixed;
    top:0;right:0;bottom:0;left:$sider-width;

    .ant-layout-breadcrumb {
      position: absolute;
      top:0;left:0;right:0;
      height: 50px;
      line-height: 50px;
      background-color: #fafafa;
      padding: 0 16px;
      .ant-breadcrumb {
        font-size: 13px;
      }
    }

    .ant-layout-footer {
      position: absolute;
      bottom:0;left:0;right:0;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 13px;
      color: #999;
      background: #FAFAFA;
    }

    .ant-layout-container {
      position: absolute;
      top: 50px;
      bottom: 40px;
      left: 0; right: 0;
    }
  }


  .ant-layout-content {
    background: #fff;
    padding: 24px;
  }
}

$sider-collapse-width: 64px;
.ant-layout-aside-collapse {
  .ant-layout-sider {
    width: $sider-collapse-width;
    transition: all 0.3s ease;

    > .ant-menu {
      > .ant-menu-item {
        transition: all 0s ease;

        > .anticon {
          font-size: 16px;
          display: inline-block;
        }

        .nav-text {
          display: none;
        }

        &:hover {
          background: #2db7f5;
          color: #fff;
          transition: all 0s ease;

          .nav-text {
            display: inline-block;
            vertical-align: top;
            background: #2db7f5;
            color: #fff;
            padding-right: 16px;
            border-radius: 0 5px 5px 0;
          }
        }
      }
    }
  }

  .ant-aside-action {
    width: $sider-collapse-width;
    transition: all 0.3s ease;
  }

  .ant-layout-main {
    transition: all 0.3s ease;
    left: $sider-collapse-width;
  }
}