.simulate-mobile {
  position: fixed;
  top:0;left:0;right:0;bottom:0;
  background-color: #484848;

  .simulate-screen {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    width:375px;
    height:627px;
    margin:auto;
    background-color: #FFF;
    box-shadow: 0 0 40px rgba(black, 0.5);
    overflow: hidden;
  }
}